/* General */
.asset-optimization #wpcontent,
.asset-optimization.auto-fold #wpcontent {
    padding-left: 0;
}

/* Emulates .wrap h1 styling */
.asset-optimization-header h1 {
    display: inline-block;
    font-weight: 600;
    margin: 0 0.8rem 1rem;
    font-size: 23px;
    padding: 9px 0 4px 0;
    line-height: 1.3;
}

/* Header */
.asset-optimization-header {
    text-align: center;
    margin: 0 0 1rem;
    background: #fff;
    border-bottom: 1px solid #dcdcde;
}

.asset-optimization-title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
    padding-top: 8px;
}

.asset-optimization-tab:nth-child(1) {
    -ms-grid-column: 1;
    /* IE 11 */
}

.asset-optimization-tab:nth-child(2) {
    -ms-grid-column: 2;
    /* IE 11 */
}

.asset-optimization-tab:focus {
    color: #1d2327;
    outline: 1px solid #787c82;
    box-shadow: none;
}

.asset-optimization-tab.active {
    box-shadow: inset 0 -3px #3582c4;
    font-weight: 600;
}


/* Body */

.asset-optimization-body {
    max-width: 800px;
    margin: 0 auto;
}

.tools-privacy-policy-page th {
    min-width: 230px;
}

.hr-separator {
    margin-top: 20px;
    margin-bottom: 15px;
}


/* Accordions */

.asset-optimization-accordion {
    border: 1px solid #c3c4c7;
}

.asset-optimization-accordion-heading {
    margin: 0;
    border-top: 1px solid #c3c4c7;
    font-size: inherit;
    line-height: inherit;
    font-weight: 600;
    color: inherit;
}

.asset-optimization-accordion-heading:first-child {
    border-top: none;
}

.asset-optimization-accordion-trigger {
    background: #fff;
    border: 0;
    color: #2c3338;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    margin: 0;
    padding: 1em 3.5em 1em 1.5em;
    min-height: 46px;
    position: relative;
    text-align: left;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: auto;
    user-select: auto;
}

.asset-optimization-accordion-trigger:hover,
.asset-optimization-accordion-trigger:active {
    background: #f6f7f7;
}

.asset-optimization-accordion-trigger:focus {
    color: #1d2327;
    border: none;
    box-shadow: none;
    outline-offset: -1px;
    outline: 2px solid #2271b1;
    background-color: #f6f7f7;
}

.asset-optimization-accordion-trigger .title {
    pointer-events: none;
    font-weight: 600;
    flex-grow: 1;
}

.asset-optimization-accordion-trigger .icon,
.asset-optimization-view-passed .icon {
    border: solid #50575e;
    border-width: 0 2px 2px 0;
    height: 0.5rem;
    pointer-events: none;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-70%) rotate(45deg);
    width: 0.5rem;
}

.asset-optimization-accordion-trigger .badge {
    padding: 0.1rem 0.5rem 0.15rem;
    color: #2c3338;
    font-weight: 600;
}

.asset-optimization-accordion-trigger .badge.blue {
    border: 1px solid #72aee6;
}

.asset-optimization-accordion-trigger .badge.orange {
    border: 1px solid #dba617;
}

.asset-optimization-accordion-trigger .badge.red {
    border: 1px solid #e65054;
}

.asset-optimization-accordion-trigger .badge.green {
    border: 1px solid #00ba37;
}

.asset-optimization-accordion-trigger .badge.purple {
    border: 1px solid #2271b1;
}

.asset-optimization-accordion-trigger .badge.gray {
    border: 1px solid #c3c4c7;
}
.asset-optimization-accordion-trigger[aria-expanded="true"] .icon,
.asset-optimization-view-passed[aria-expanded="true"] .icon {
    transform: translateY(-30%) rotate(-135deg)
}

.asset-optimization-accordion-panel {
    margin: 0;
    padding: 1em 1.5em;
    background: #fff;
}

.asset-optimization-accordion-panel[hidden] {
    display: none;
}

.asset-optimization-accordion-panel a .dashicons {
    text-decoration: none;
}


/* Media queries */
@media screen and (max-width: 782px) {
    .asset-optimization-body {
        margin: 0 12px;
        width: auto;
    }
    .asset-optimization .notice {
        margin: 5px 10px 15px;
    }
    .asset-optimization .update-nag {
        margin-right: 10px;
        margin-left: 10px;
    }
    input#create-page {
        margin-top: 10px;
    }
    .wp-core-ui button.privacy-text-copy {
        white-space: normal;
        line-height: 1.8;
    }
}

@media only screen and (max-width: 1004px) {
    .asset-optimization-body {
        margin: 0 22px;
        width: auto;
    }
}

.asset-optimization-body h2 {
    line-height: 1.4;
}

.asset-optimization-body h3 {
    padding: 0;
    font-weight: 400;
}

.asset-optimization-widget-title-section {
    text-align: center;
}

.asset-optimization-progress-wrapper {
    margin-bottom: 1rem;
}

.asset-optimization-progress {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0;
    border-radius: 100%;
    position: relative;
    font-weight: 600;
    font-size: 0.4rem;
}

.asset-optimization-progress-count {
    position: absolute;
    display: block;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 100%;
    line-height: 6.3;
    font-size: 2em;
}

.loading .asset-optimization-progress svg #bar {
    stroke-dashoffset: 0;
    stroke: #c3c4c7;
    animation: loadingPulse 3s infinite ease-in-out;
}

.asset-optimization-progress svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #c3c4c7;
    stroke-width: 2em;
}

.asset-optimization-progress svg #bar {
    stroke-dashoffset: 565;
    stroke: #d63638;
}

.green .asset-optimization-progress #bar {
    stroke: #00a32a;
}

.green .asset-optimization-progress .asset-optimization-progress-label {
    color: #00a32a;
}

.orange .asset-optimization-progress #bar {
    stroke: #dba617;
}

.orange .asset-optimization-progress .asset-optimization-progress-label {
    color: #dba617;
}

.asset-optimization-progress-label {
    font-weight: 600;
    line-height: 20px;
    margin-left: 0.3rem;
}

@keyframes loadingPulse {
    0% {
        stroke: #c3c4c7;
    }
    50% {
        stroke: #72aee6;
    }
    100% {
        stroke: #c3c4c7;
    }
}

.asset-optimization-tabs-wrapper {
    /* IE 11 */
    display: -ms-inline-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    vertical-align: top;
    /* modern browsers */
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.asset-optimization-tabs-wrapper.tab-count-1 {
    grid-template-columns: 1fr;
}

.asset-optimization-tabs-wrapper.tab-count-2 {
    grid-template-columns: 1fr 1fr;
}

.asset-optimization-tabs-wrapper.tab-count-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.asset-optimization-tab {
    display: block;
    /* IE 11 */
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 1rem 1rem;
    margin: 0 1rem;
    transition: box-shadow 0.5s ease-in-out;
}

.asset-optimization-offscreen-nav-wrapper {
    position: relative;
    background: transparent;
    border: none;
}

.asset-optimization-offscreen-nav-wrapper:focus .asset-optimization-offscreen-nav {
    left: initial;
}

.asset-optimization-offscreen-nav {
    display: none;
    position: absolute;
    padding-top: 10px;
    right: 0;
    top: 100%;
    width: 13rem;
}

.asset-optimization-offscreen-nav-wrapper.visible .asset-optimization-offscreen-nav {
    display: inline-block;
}

.asset-optimization-offscreen-nav:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 5px 10px;
    border-color: transparent transparent #ffffff transparent;
    right: 20px;
    top: 5px;
}

.asset-optimization-offscreen-nav .asset-optimization-tab {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba( 0, 0, 0, 0.75);
}

.asset-optimization-offscreen-nav .asset-optimization-tab.active {
    box-shadow: inset 3px 0 #3582c4;
    font-weight: 600;
}

.asset-optimization-body {
    max-width: 800px;
    margin: 0 auto;
}

.asset-optimization-table td:first-child {
    width: 30%;
}

.asset-optimization-table td {
    width: 70%;
}

.asset-optimization-table ul,
.asset-optimization-table ol {
    margin: 0;
}

.asset-optimization-body li {
    line-height: 1.5;
}

.asset-optimization-body .pass::before,
.asset-optimization-body .good::before {
    content: "\f147";
    color: #00a32a;
}

.asset-optimization-body .warning::before {
    content: "\f460";
    color: #dba617;
}

.asset-optimization-body .info::before {
    content: "\f348";
    color: #72aee6;
}

.asset-optimization-body .fail::before,
.asset-optimization-body .error::before {
    content: "\f335";
    color: #d63638;
}

.asset-optimization-copy-buttons {
    margin: 1rem 0;
}

.asset-optimization-copy-buttons .copy-button-wrapper {
    display: inline-flex;
    align-items: center;
    margin: 0.5rem 0 1rem;
}

.asset-optimization-copy-buttons .success {
    color: #008a20;
    margin-left: 0.5rem;
}

.site-status-has-issues.hide {
    display: none;
}

.asset-optimization-view-more {
    text-align: center;
}

.asset-optimization-issues-wrapper:first-of-type {
    margin-top: 3rem;
}

.asset-optimization-issues-wrapper {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.site-status-all-clear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 0;
}

@media all and (min-width: 784px) {
    .site-status-all-clear {
        margin: 5rem 0;
    }
}

.site-status-all-clear.hide {
    display: none;
}

.site-status-all-clear .dashicons {
    font-size: 150px;
    height: 130px;
    width: 150px;
}

.site-status-all-clear .encouragement {
    font-size: 1.5rem;
    font-weight: 600;
}

.site-status-all-clear p {
    margin: 0;
}

.wp-core-ui .button.asset-optimization-view-passed {
    position: relative;
    padding-right: 40px;
    padding-left: 20px;
}


/* Better position for the WordPress admin notices and update nag. */

.asset-optimization .notice {
    margin: 5px 20px 15px 22px;
}

.asset-optimization .update-nag {
    margin-bottom: 20px;
    margin-left: 22px;
}

.asset-optimization-wp-paths-sizes.spinner {
    visibility: visible;
    float: none;
    margin: 0 4px;
    flex-shrink: 0;
}


/* Styling unique to the dashboard widget. */

#dashboard_site_health .asset-optimization-details {
    padding-left: 16px;
}

#dashboard_site_health .asset-optimization-widget {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(64px, auto);
    column-gap: 16px;
    align-items: center;
}

#dashboard_site_health .asset-optimization-progress-label {
    margin-left: 0;
}

@media screen and (max-width: 480px) {
    #dashboard_site_health .asset-optimization-widget {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 782px) {
    .asset-optimization-issues-wrapper .asset-optimization-accordion-trigger {
        flex-direction: column;
        align-items: flex-start;
    }
    .asset-optimization-accordion-trigger .badge {
        margin: 1em 0 0;
    }
    .asset-optimization-table {
        table-layout: fixed;
    }
    .asset-optimization-table td {
        box-sizing: border-box;
        display: block;
        width: 100%;
        word-wrap: break-word;
    }
    .asset-optimization-table td:first-child {
        width: 100%;
        padding-bottom: 0;
        font-weight: 600;
    }
    .wp-core-ui .asset-optimization-copy-buttons .copy-button {
        margin-bottom: 0;
    }
}